.navbar{
    background-color: rgb(66, 72, 189);
    display: flex;
    justify-content: center;
    padding: 20px; /* Au
    
    
    ;
}

.brand-logo{
    margin: 0;
    color: white;
}

.total-amount{
    color: white;
}
