.navbar {
  background-color: rgb(66, 72, 189);
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* Asegura que la barra de navegación esté en la parte superior */
}

.logo-link,
.cart-link {
  text-decoration: none;
  color: white;
}
.brand-logo {
  margin-right: 19em;
}

